
.Button {
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 3px 3px 1px 0px rgba(50, 50, 50, 0.75);
}


.Button:active {
    box-shadow: 0 0 0 0 rgba(50, 50, 50, 0.75);
    transform: translateY(3px);
}

.Success {
    color: #fff;
    background: blue;
}

.Danger {
    color: #fff;
    background: red;
}

.showAlert {
    margin: 30% auto;
    padding: 10px;
    background: mediumaquamarine;
}